.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
    /*margin-top: 10px;*/
}
.mid-section{
    display: flex;
    gap: 25px;
    font-weight: 500;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}
.mid-section > p{
    color: #4d4d4d;
    font-size: 16px;
}
.hero-section{
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
}
.hero-section> div > h1{
    color: #4d4d4d;
    font-weight: bolder;
    font-size: 45px;

}
.client{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.member > p{
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 0;
}
.new{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.footer-side{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}
.footer-side > p{
    display: block;
}
input::placeholder{
    color: white;
}
.input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    background: #515b60;
}
.image{
    position: relative;
    left: 205px;
    top: -27px;
}
.member2{
    display: flex;
    align-items: center;
    gap: 20px
}
.section3{
    display: flex;
    gap: 40px;
    padding: 10%;
}
.footer{
    background: #263238;
    padding: 4% 0;
    display: flex;
    color: white;
    justify-content: space-around;
    gap: 20%;

}
.section2{
    display: flex;
    gap: 40px;
    padding: 10%;
}
.section4{
    display: flex;
    gap: 40px;
    padding: 10%;
}
@media only screen and (max-width: 728px) {
    .nav{
        display: none;
    }
    .hero-section > img{
        display: none;
    }
    .member2{
        flex-direction: column;
    }
    .section3{
        flex-direction: column;
    }
    .section2 >img{
        display: none;
    }
    .section4 > img{
        display: none;
    }
    .footer-side{
        grid-template-columns: repeat(1,1fr);
    }
    .footer{
        flex-direction: column;
        padding: 20px;
    }
    .input{
        width: 70%;
    }
    .image{
        left: -31px;
        top: 4px;
    }
}
.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4caf4f;
    gap: 8px;
    top: 6px;
    left: 6px;
}

