.button{
    display: flex;
    gap: 25px;
    font-weight: 500;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 10px;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: green;
}