
.footer{
    background: #263238;
    padding: 90px 20px 10px 10px;
    display: flex;
    color: white;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
}
.footerSide{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}
.p{
    display: block;
    color: #ffffff;
}
input::placeholder{
    color: white;
}
.input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    background: #515b60;
}
.image{
    position: relative;
    left: 205px;
    top: -27px;
}